<%= render 'scoreview/nav' %>

<div id="image-container">
  <img id="central-image" src="<%= @url %>" alt="Score Page">
  <div id="grid-container"></div>
</div>

<%= render 'scoreview/previous_notes' %>
