<div id="scoreview-nav">
  <a class="btn btn-default"  href="<%= @previous_page_url %>"><</a>
  <a class="btn btn-default" href="<%= @forward_page_url %>">></a>
</div>

<div id="image-container">
  <img id="central-image" src="<%= @url %>" alt="Score Page">
  <div id="grid-container"></div>
</div>

<%= render 'scoreview/previous_notes' %>
