<div id="scoreviewNav" style="position:fixed;right:5px;top:50px;font-size:2em;">
<a class="btn btn-default"  href="<%= @previousPageURL %>"><</a>
<a class="btn btn-default" href="<%= @forwardPageURL %>">></a>
</div>

<img id="centralImage" src="<%= @URL %>" alt="example">
