<div id="score-edit-current-page-information">
  <div id="notes-default-song-title"><%= @song_title %></div>
  <div id="notes-default-song-page"><%= @page_number %></div>
</div>

<%= render 'scoreview/show' %>
<%= render 'form' %>
