<h1>Editing songnote</h1>

<%= render 'form' %>

<%= link_to 'Show', @songnote, class: "btn btn-default", role: "button" %> |
<%= link_to 'Back', songnotes_path, class: "btn btn-default", role: "button" %>
