<h1>Listing events</h1>

<%= render 'shared/search' %>

<table class="table" id="infoTable">
  <thead>
    <tr>
      <th>Date</th>
      <th>Event</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
	<td><%= event.date.to_s.gsub('-01-01', '') %></td>
        <td><%= event.event %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
