// Place all the styles related to the scoreview controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#imageContainer {
	position:relative;
}

#gridContainer {
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index:1;
}

#scoreviewNav {
	position:fixed;
	right:5px;
	top:50px;
	font-size:2em;
	z-index:1;
}

.pop, .previousPopNote {
	height: 37px;
	width: 30px;
	margin-top: 0px;
	top: -50px;
	left: -12px;
	position: relative;
	background-color: #C0E445;
	border: 0px solid;
	border-radius: 45px;
	opacity:0.8;
}

.pop:after, .previousPopNote:after {
	content: "";
	position: absolute;
	right: 2px;
	top: 28px;
	width: 0px;
	height: 0px;
	border-width: 26px 13px 0px;
	border-color: #C0E445 transparent;
	border-style: solid;
}

.pop:hover, .previousPopNote:hover {
	width:300px;
	height:300px; /*230*/
	left:-150px;
	top:-319px; /*249*/
	opacity:0.95;

}

.pop:hover:after, .previousPopNote:hover:after {
	content: "";
	position: absolute;
	right: 134px;
	top: 300px; /*222*/
	width: 0px;
	height: 0px;
	border-width: 26px 13px 0px;
	border-color: #C0E445 transparent;
	border-style: solid;
}

.popInfo {
	display:none;
	width:100%;
	padding:10px;
	text-align:center;
	box-sizing: border-box;
	z-index:10;
}

/*
@-moz-document url-prefix() {
    .popInfo {
        width: 280px;
    }
}
*/
.previousPopNoteInfo {
	padding:20px;
	text-align:center;
}

.previousPopNoteInfo {
	display:none;
}

#previousNotesLoadingZone {
	display:block;
}

.pop:hover .popInfo, .pop:hover #new_songnote.new_songnote, .previousPopNote:hover .previousPopNoteInfo {
	display:block;
}

