// Place all the styles related to the scoreview controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#image-container {
	position: relative;
}

#grid-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	flex-wrap: wrap;
}

#scoreview-nav {
	position: fixed;
	right: 5px;
	top: 50px;
	font-size: 2em;
	z-index: 1;
}

.pop,
.previous-pop-note {
	height: 37px;
	width: 30px;
	margin-top: 0;
	top: -50px;
	left: -12px;
	position: relative;
	background-color: #C0E445;
	border: 0 solid;
	border-radius: 45px;
	opacity: 0.8;
}

.pop:after,
.previous-pop-note:after {
	content: "";
	position: absolute;
	right: 2px;
	top: 28px;
	width: 0;
	height: 0;
	border-width: 26px 13px 0;
	border-color: #C0E445 transparent;
	border-style: solid;
}

.pop:hover,
.previous-pop-note:hover {
	width: 300px;
	height: 300px;
	left: -150px;
	top: -319px;
	opacity: 0.95;
}

.pop:hover:after,
.previous-pop-note:hover:after {
	content: "";
	position: absolute;
	right: 134px;
	top: 300px;
	width: 0;
	height: 0;
	border-width: 26px 13px 0;
	border-color: #C0E445 transparent;
	border-style: solid;
}

.pop-info {
	display: none;
	width: 100%;
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
	z-index: 10;
}

.previous-pop-note-info {
	padding: 20px;
	text-align: center;
}

.previous-pop-note-info {
	display: none;
}

.pop:hover #new_songnote.new_songnote,
.pop:hover .pop-info,
.previous-pop-note:hover .previous-pop-note-info {
	display: block;
}

#central-image {
	width: 100%;
}

.grid-point {
	flex-basis: 1%;
	max-width: 1%;
	position: relative;
	margin-left: -0.25px;
}
